/* Login-page through Flexbox */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(224, 226, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    /* top se height pehle zero pr set thi. */
    height: 100vh;
}   


h1{
    background-color: green;
    text-align: center;
    margin-bottom: 20px;
    color: red;
}


label{
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 5px; 
}


input{
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}


.box{
    width: 400px;
    /* height: 400px; */
    background-color: yellow;
    padding: 60px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 10px;

}


button{
    cursor: pointer;
}
