/* Using in Events */

/*  Started new Chapter Event in Javascript along css . */
/*  Events like time and date related and an event perform like topics are covered. */

div{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
}


