#container{
     background-color: white;
    height: 300px;
    width: 500px;
    position: relative;
    
}

#circle{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    /* margin: auto; */
    /* margin-top: 40px; */
    position: absolute;
    left: 190px;
    top: 80px;

}